* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to right, rgb(255, 128, 70), rgb(119, 2, 2), rgb(69, 36, 129));
}

.card {
    background-image: linear-gradient(to bottom, rgb(49, 54, 85), rgb(7, 7, 88))
}
